.tasks-container {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    right: 0px;
}

.tasks {
    display: none;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    height: 500px;
    overflow-y: scroll;
    position: relative;
    top: 0px;
}

.new-task {
    position: relative;
    top: 0px;
    display: none;
    width: 300px;
    height: 400px;
    float: left;
    box-sizing: border-box;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px 15px 10px;
}

.all-task {
    position: relative;
    top: 0px;
    display: none;
    width: 300px;
    height: 500px;
    float: left;
    box-sizing: border-box;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 5px 10px 15px 10px;
    overflow-y: scroll;
}

.tasks-toggle {
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    left: -50px;
    cursor: pointer;
    background-image: url(../images/button.png);
    background-position-x: 0px;
    top: 100px;
}

.new-task-toggle {
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    left: -50px;
    cursor: pointer;
    background-image: url(../images/button.png);
    background-position-x: 0px;
    background-position-y: 100px;
}

.task {
    padding: 5px 10px 15px 10px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
}

form {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

form  input,
form textarea{
    box-sizing: border-box;
}

.tasks-container .task .date {
    font-size: 75%;
}

.tasks-container .tasks .desc{
    padding-left: 10px;
}

.tasks-container .tasks .desc{
    padding-left: 10px;
}



.tasks-container .element-selector {
    display: block;
}

.tasks-container .btn-toolbar {
    overflow: hidden;
}

.tasks-container .element-selector span,
.tasks-container .ele span{
    background-color: #00d2ff;
    color: white;
    display: block;
    text-align: center;
    line-height: 34px;
    font-size: 123%;
    font-weight: bold;
    cursor: pointer;
}

.tasks-container .ele span:hover,
.tasks-container .element-selector span:hover{
    background-color: #0090ff;
}

.tasks-container .complete {
    width: 25%;
    padding-right: 10px;
}

.tasks-container .task-info {
    width: 75%;
}

.tasks-container .complete a {
    background-image: url(../images/checkbox.png);
    background-position-x: 0px;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    cursor: pointer;
    background-position-x: 0px;
}

.tasks-container .complete a:hover {
    background-position-x: -60px;
}