.tasks-container {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 9999999;
}

.tasks-container .new-task,
.tasks-container .all-tasks,
.tasks-container .tasks {
    width: 0px;
    height: calc(100% - 100px);
    box-sizing: border-box;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.tasks-container .new-task.open,
.tasks-container .all-tasks.open,
.tasks-container .tasks.open {
    width: 325px;
    overflow-y: auto !important;
    padding: 5px 10px 15px 10px;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: black;
}

.tasks-container .task-button-holder {
    display: flex;
    flex-direction: column;
}

.tasks-container .task-button-holder > div {
    align-self: flex-start;
    width: 60px;
}

.tasks-container .task-holder {
    display: flex;
}

.tasks-container .tasks-toggle:hover,
.tasks-container .new-task-toggle:hover,
.tasks-container .all-tasks-toggle:hover,
.tasks-container .ele span:hover,
.tasks-container .ele a:hover,
.tasks-container .element-selector span:hover,
.tasks-container form input[type="submit"]:hover {
    filter: brightness(110%);
}

.tasks-container .toggle {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #008a00;
    border-color: #008a00;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid black;
    padding: 0.3846rem 0.7692rem;
    line-height: 1.5384;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    position: relative;
    cursor: pointer;
}

.tasks-container .toggle.active {
    background-color: #36ac46;
    cursor: unset;
}

.tasks-container .task {
    padding: 5px 10px 15px 10px;
    border-bottom-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
}

.tasks-container form {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

.tasks-container form input,
.tasks-container form textarea {
    box-sizing: border-box;
}

.tasks-container .task .date {
    font-size: 75%;
}

.tasks-container .tasks .desc {
    padding-left: 10px;
}

.tasks-container .tasks .desc {
    padding-left: 10px;
}

.tasks-container .element-selector {
    display: block;
}

.tasks-container .btn-toolbar {
    overflow: hidden;
}

.tasks-container .element-selector span,
.tasks-container .ele span,
.tasks-container .ele a,
.tasks-container form input[type="submit"] {
    background-color: #00d2ff;
    color: white;
    display: block;
    text-align: center;
    line-height: 34px;
    font-size: 123%;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    border: none;
}

.tasks-container .ele a {
    background-color: rosybrown;
}

.tasks-container .complete {
    width: 25%;
    padding-right: 10px;
}

.tasks-container .task-info {
    width: 75%;
}

.tasks-container .complete a {
    background-image: url(../images/checkbox.png);
    background-position-x: 0px;
    display: block;
    width: 60px;
    height: 60px;
    margin-right: 5px;
    cursor: pointer;
    background-position-x: 0px;
}

.tasks-container .complete a:hover {
    background-position-x: -60px;
}

.tasks-container form .field.text,
.tasks-container form .field.textarea {
    width: 100%;
    margin: 10px 0 15px;
}

.tasks-container form .field.text input,
.tasks-container form #Form_TaskManagerForm_Ele_Holder i,
.tasks-container form .field.readonly,
.tasks-container form .field.textarea textarea {
    width: 100%;
}

.tasks-container form #Form_TaskManagerForm_Ele_Holder i {
    display: block;
    padding: 6px 5px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #dad9d9;
    box-sizing: border-box;
}

.tasks-container form .description {
    font-size: 90%;
    color: #00d2ff;
    font-weight: bold;
}

.task-manager-select {
    position: relative !important;
    border-color: yellow !important;
    border-width: 4px !important;
    border-style: solid !important;
    padding: 0px !important;
}

.task-manager-select:after {
    position: absolute !important;
    z-index: 99999 !important;
    display: block !important;
    content: " " !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255, 255, 0, 0.8) !important;
    top: 0px;
}
