.tasks-container {
    display: flex;
    box-sizing: border-box;
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 99998;
}

.tasks-container .task-holder > div {
    width: 0px;
    height: calc(100vh - 100px);
    box-sizing: border-box;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.tasks-container .task-holder > .open {
    width: 325px;
    overflow-y: auto !important;
    padding: 5px 10px 15px 10px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 1px solid #c1cad9;
}

.tasks-container .task-button-holder {
    display: flex;
    flex-direction: column;
}

.tasks-container .task-button-holder > div {
    align-self: flex-start;
    width: 89px;
    font-size: 14px;
    font-weight: 600;
}

.tasks-container .task-holder {
    display: flex;
}

.tasks-container .toggle {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #39b54a;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #33a343;
    padding: 6px 12px;
    line-height: 1.5384;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    position: relative;
    cursor: pointer;
}

.tasks-container .toggle:hover,
.tasks-container .toggle.active {
    background-color: #2d8b3a;
}

.tasks-container .task {
    padding: 5px 10px 15px 10px;
    border-bottom: 1px solid #c1cad9;
    display: flex;
    margin-bottom: 10px;
}

.tasks-container form {
    max-width: 300px;
    width: 100%;
    box-sizing: border-box;
}

.tasks-container form input,
.tasks-container form textarea {
    box-sizing: border-box;
}

.tasks-container .date {
    font-size: 75%;
}

.tasks-container .desc {
    padding-left: 10px;
}

.tasks-container .btn-toolbar {
    overflow: hidden;
}

.tasks-container .element-selector,
.tasks-container .ele span,
.tasks-container .ele a,
.tasks-container form input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: #39b54a;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.3846rem 0.7692rem;
    line-height: 1.5384;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    position: relative;
    cursor: pointer;
    border-radius: .23rem !important;
    border: 1px solid #368b39;
}

.tasks-container .ele span {
    background-color: transparent;
    border-color: #bebebe;
    color: #bebebe;
    font-weight: 600;
}

.tasks-container .element-selector:hover,
.tasks-container .ele span:hover,
.tasks-container .ele a:hover,
.tasks-container form input[type="submit"]:hover {
    background-color: #2d8b3a;
    border: 1px solid #368b39;
}

.tasks-container .ele a {
    background-color: transparent;
    border-color: #bebebe;
    color: #bebebe;
    font-weight: 600;
}

.tasks-container .ele span:hover,
.tasks-container .ele a:hover {
    color: #fff;
}

.tasks-container .complete {
    width: 30px;
    padding-right: 15px;
}

.tasks-container .task-info {
    width: calc(100% - 30px);
    padding-left: 10px;
}

.tasks-container .complete a.complete-issue {
    background-image: url(../images/checkbox.png);
    background-position-x: 0px;
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    background-position-x: 0px;
}

.tasks-container .complete a:hover {
    background-position-x: -30px;
}

.tasks-container form .field.text,
.tasks-container form .field.textarea {
    width: 100%;
    margin: 10px 0 15px;
}

.tasks-container form .field.text input,
.tasks-container form #Form_TaskManagerForm_Ele_Holder i,
.tasks-container form .field.readonly,
.tasks-container form .field.textarea textarea {
    width: 100%;
}

.tasks-container form #Form_TaskManagerForm_Ele_Holder i {
    display: block;
    padding: 6px 5px;
    font-size: 15px;
    background-color: #fff;
    border: 1px solid #dad9d9;
    box-sizing: border-box;
}

.tasks-container form .description {
    font-size: 90%;
    color: #bebebe;
}

.task-manager-select {
    position: relative !important;
    border-color: rgb(255, 0, 0) !important;
    border-width: 4px !important;
    border-style: solid !important;
    padding: 0px !important;
    background-color: rgb(255, 0, 0) !important;
}

/* .task-manager-select:after {
    position: absolute !important;
    z-index: 99999 !important;
    display: block !important;
    content: " " !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(255, 0, 0) !important;
    top: 0px;
} */
